[access]
	inheritFrom = All-Projects
[project]
	description = testIntegrationWithGerritandJenkins
[access "refs/*"]
	owner = group user/mariancorman
[access "refs/for/refs/*"]
	read = group user/mariancorman
	push = group user/mariancorman
	label-Code-Review = -2..+2 group user/mariancorman
	label-Verified = -1..+1 group user/mariancorman
	rebase = group user/mariancorman
	removeReviewer = group user/mariancorman
	submit = group user/mariancorman
[access "refs/heads/*"]
	read = group user/mariancorman
	create = group user/mariancorman
	push = +force group user/mariancorman
	pushMerge = group user/mariancorman
[access "refs/tags/*"]
	push = group user/mariancorman
	push = +force group user/mariancorman
